go 1.24.0

use (
	.
	./connectors/github
	./connectors/google/gmail
	./connectors/google/spreadsheet
	./connectors/http
	./connectors/linkedin
	./connectors/openai
	./examples/local-config
	./sdk/go
)
