go 1.24.0

use (
	.
	./connectors/anthropic
	./connectors/deepseek
	./connectors/github
	./connectors/google/gemini
	./connectors/google/gmail
	./connectors/google/spreadsheet
	./connectors/linkedin
	./connectors/meta
	./connectors/mistral
	./connectors/moonshot/kimi
	./connectors/openai
	./connectors/slack
	./connectors/stripe
	./connectors/xai
	./examples/local-config
	./sdkgo
)
